@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  font-family: "Noto Sans", sans-serif;
}

html.dark body {
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.text-preset-1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -1px;
}

.text-preset-2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.text-preset-3 {
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.3px;
}

.text-preset-4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
}

.text-preset-5 {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.5px;
}

.text-preset-6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
}
